@import "./variables.scss";

::-webkit-scrollbar {
  width: $size-md;
}

::-webkit-scrollbar-track {
  background: $color-dark;
}

::-webkit-scrollbar-thumb {
  background: $color-medium;
  border-radius: $size-border-radius;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $color-medium $color-dark;
}
