@import "@/index.scss";

.dashboard {
  @include flex(center, center, row, $size-xl);
  @include size(100%, 50%);
  padding: 0 $size-xxl;
  margin-bottom: $size-header;
  flex: 1;
}

.login-panel {
  @include flex(stretch, space-between, column, $size-lg);
  @include size($size-dashboard, 100%);
}

@include media("xl") {
  .login-panel {
    width: $size-dashboard-md;
  }
}

@include media("lg") {
  .login-panel {
    width: $size-dashboard-sm;
    gap: $size-md;
  }
}

@include media("md") {
  .dashboard {
    gap: $size-md;
    padding: 0 $size-xl;
  }
}
